/* Error: Undefined variable.
 *    ,
 * 10 |     left: calc(-12vw - #{$depth * 10}vw);
 *    |                          ^^^^^^
 *    '
 *   src\components\nesting.css 10:26  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 10 \2502      left: calc(-12vw - #{$depth * 10}vw);\d\a    \2502                           ^^^^^^\a    \2575 \a   src\\components\\nesting.scss 10:26  root stylesheet";
}
